{% extends 'base.html' %}

{% block title %}Add Students{% endblock %}

{% block content %}
<div class="col-md-6">
    <h3>Add Student</h3>
    <div class="form-group">
<form action="{% url 'demoapp:add' %}"  method="post">
    {% load widget_tweaks %}
    {% if submitted %}
        <a>New Student Added!</a>
        <br>
    {% endif %}
    {{ student_form.errors }}
    {% csrf_token %}
    <label>Name: </label>
    {{ student_form.name|attr:"class:form-control" }}
    <br>
    <label>Email: </label>
    {{ student_form.email|attr:"class:form-control" }}
    <br>
    <button type="submit">Submit</button>
</form>
    </div>
</div>

{% endblock %}